<mat-tab-group>
    <mat-tab label="Create Task">
        <div class="container mbt-16">
            <h1 class="title">Create Task</h1>
        
            <button [disabled]="disabledButton" class="add-btn-top-right-corner" mat-fab color="primary" matTooltip="Create Task">
                <mat-icon>add</mat-icon>
            </button>

            <button (click)="clearTaskForm()" class="clear-btn-top-right-corner" mat-fab color="primary" matTooltip="Clear Task">
                <mat-icon>clear</mat-icon>
            </button>

            <form class="form" (keyup)="enableCreateButton()">
                <div>
                    <!-- <span>Title:</span>  -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input name="title" [(ngModel)]="task.title" #title matInput>
                    </mat-form-field>
                </div>
                
                <mat-form-field class="full-width mbt-16" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea name="description" [(ngModel)]="task.description" #description rows="8" matInput></textarea>
                </mat-form-field>

                <div>
                    <h2 class="priority-label">Priority:</h2>
                    <mat-radio-group (change)="enableCreateButton()" [(ngModel)]="RadioValue" [ngModelOptions]="{standalone: true}" aria-label="Select an option">
                        <mat-radio-button value="Low">Low</mat-radio-button>
                        <mat-radio-button value="Medium">Medium</mat-radio-button>
                        <mat-radio-button value="High">High</mat-radio-button>
                    </mat-radio-group>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="View Task(s)">
         Content 2 
    </mat-tab>
</mat-tab-group>


