.add-btn-top-right-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.clear-btn-top-right-corner {
    position: absolute;
    right: 64px;
    top: 0;
}

.priority-label {
    display: inline-block;
}

mat-radio-button {
    margin-left: 32px;
    font-size: 18px;
}
  