.add-btn-top-right-corner {
    position: absolute;
    right: 0;
    top: 0;
}

table {
    tr {
        cursor: pointer; 
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        
        // &:first-child {
        //     cursor: unset;
        //     background-color: transparent;
        // }
    }
}