<div class="wrapper">
    <button [matMenuTriggerFor]="menu" class="edit-btn" mat-icon-button>
        <mat-icon class="white">more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button (click)="openEditCustomer()" mat-menu-item>Edit</button>
    </mat-menu>
    
    <mat-card class="user-detail-header">
        <mat-icon>person_pin</mat-icon>
    
        <div class="user-details">
            <h2>{{ customers.firstname }}  {{ customers.lastname }}</h2>
            <span>{{ customers.email }}</span>
        </div>
    </mat-card>
</div>


<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="bold">
          Address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>{{ customers.street }}</span> <br>
      <span>{{ customers.zipCode }} {{ customers.city }}</span> <br>
      <span>Country: {{ customers.country }}</span>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="bold">
          Phone
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>{{ customers.phone }}</span>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="bold">
          Industry
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>{{ customers.industry }}</span>
    </mat-expansion-panel>

</mat-accordion>

