<mat-drawer-container class="crm-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo-container">Simple CRM</div>
    
    <ul class="menu-items">
      <li routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="/employees"><mat-icon>groups</mat-icon>Employees</li>
      <li routerLink="/customers"><mat-icon>perm_contact_calendar</mat-icon>Customers</li>
      <li routerLink="/tasks"><mat-icon>task</mat-icon>Tasks</li>
      <li routerLink="/send_email"><mat-icon>email</mat-icon>Send Email</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content"> 
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="component-container">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</mat-drawer-container>
