.wrapper {
    position: relative;
    height: 200px;
}

.user-detail-header {
    box-sizing: border-box;
    color: white;
    height: 200px !important;
    background-color: rgb(140, 140, 252);
    display: flex;
    align-items: flex-end;

    mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: 78px;
    }

    .user-details {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        h2 {
            margin-bottom: 5px ;
        }
    }
}

// .address {
    
// }

.address-info span {
    margin: 10px 0 !important;
}

.edit-btn {
    z-index: 2;
    // font-size: 16px !important;
    position: absolute;
    top: 5px;
    right: 5px;
}