.add-btn-top-right-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.clear-btn-top-right-corner {
    position: absolute;
    right: 64px;
    top: 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.from {
    width: 100%;
}

.to {
    width: 100%;
}

.load-spinner-email {
    position: absolute;
    left: 150px;
    top: 10px;
}
