<div class="date-and-time">
    <div class="time">{{ rxTime.toLocaleTimeString() }}</div>
    <div class="date">{{ date }}</div>
</div>


<div class="overview">
    <mat-card>
        <h1><mat-icon class="mr-16">groups</mat-icon>Employees</h1>
    </mat-card>
    <mat-card>
        <h1><mat-icon class="mr-16">perm_contact_calendar</mat-icon>Customers</h1>
    </mat-card>
    <mat-card>
        <h1><mat-icon class="mr-16">tasks</mat-icon>Tasks</h1>
    </mat-card>
    <mat-card>
        <h1><mat-icon class="mr-16">email</mat-icon>Send Email</h1>
    </mat-card>
</div>


