.date-and-time {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    height: 32px;
    font-size: 32px;
}

.time {
    height: 64px;
    font-size: 64px;
}

.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview mat-card {
    cursor: pointer;
    width: 20%;
    height: 150px;
}

.overview mat-card:hover {
    transform: scale(1.05);
}

mat-card h1 {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

mat-card p {
    color: lightgray;
}